#bot_general
token= #? your discord bot token
openweather_appid=
unsplash_access_key=

#mongodb
mongo_user=
mongo_pass=
mongo_hostname=
mongo_clustername=

#bot_configuration
prefix= #? Bot Commands Prefix
server_id=

#channels
ready_chan=       #? ID of a Channel where the bot send feedback about itself (like when it's ready and some errors)
mod_chan=         #? Channel where the bot sends some mod related logs and command feedbacks
join_exit_chan=   #? Member join-exit Channel ID
member_logs_chan= #? Member logs Channel ID
msg_logs_chan=    #? Message logs Channel ID
newbie_chan=      #? Newbie welcoming Channel ID
confessions_chan= #? Confessions Channel ID
mod_mail_chan=    #? ModMail Channel ID

mod_mail_categ= #? ModMail Category ID, where modmails open and modmail logs are created

#roles
role_on_join_id= #? Roles to give when a member joins server
role_on_mute=    #? Mute role to give when using m'mute
