aiohttp<3.7.0
appdirs==1.4.4
APScheduler==3.7.0
async-timeout==3.0.1
asyncio==3.4.3
enhanced-dpy==1.7.3.7.post1
chardet==3.0.4
yarl==1.5.1
discord-ext-menus==1.1
DiscordUtils==1.3.4
pathspec==0.8.1
python-dateutil==2.8.2
python-dotenv==0.19.0
pytz==2021.1
regex==2021.7.6
typing-extensions==3.10.0.0
tzlocal==2.1
pymongo==3.12.0
dnspython==1.16.0